DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="orbit-super-secret-jwt-key-for-development-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="orbit-super-secret-jwt-key-for-development-32-chars-long"
PORT=3000
NODE_ENV="development"
