DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="orbit-super-secret-jwt-key-for-production-key-9988"
AUTH_SECRET="orbit-super-secret-jwt-key-for-production-key-9988"
NEXTAUTH_URL="https://your-orbit-app.vercel.app"
NODE_ENV="production"
